<ion-view view-title="Responses">
  <ion-content>
    <ion-list>
	 <div ng-show="!responses.length"class="card">
         <div class="item item-text-wrap text-center">
          <span style="font-size:60px">:(</span><br><br>
         Sorry, no responses to your requets yet :(.
        </div>
    </div>
      <ion-item ng-show="!responses.length">No responses yet :(</ion>
      <ion-item  ng-repeat="response in responses" type="item-text-wrap" href="#/tab/response/{{response.id}}">
        <h2>{{response.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
